body {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 32px;
    line-height: 150%;
}

/*logo-alura {
    
    margin-left: 100px;
    padding-top: 100px;
    width:3%;
    text-align: center;
}
*/

header {
    margin-left: 10px;
    padding-top: 10px;
    width:2%;
}

main {
    display:flex;
    margin-bottom: 50px;
    margin-left: 0px;
}

.text-area {
    border: none;
    color: #0A3871;
    border-radius: 24px;
    padding-left: 20px;
    margin-top: 20px;
    text-transform: lowercase;
}   

::placeholder { color: #0A3871; }
  .text-area:focus {
     outline: none;
}

.mensagem {
    background: white;
    background-image: url(/imagens/boneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
 
}
.mensagem:focus {
    outline: none;
}    

.botoes {
    display: flex;
    margin-top: 10px;
}

.btn-encriptar, .btn-desencriptar {
    background-color: #789dca;
    border: 5px solid #042a5a;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    height: 67px;
    width: 328px;
}

.btn-encriptar:hover {
    background-color:#042a5a;
    width: 400px;
}  

.btn-desencriptar:hover {
    background-color: #042a5a;
    width: 400px;
}  

.btn-copiar {
    border: 5px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    transition: all 0.5s;
    height: 67px;
    margin-left: 108px;
    margin-top: 452px;
    position: absolute;
    width: 336px;
}

.btn-copiar:hover {
    background-color: #042a5a;
    color:white;
    width: 400px;
}

.informacao {
    color: #495057;
    font-size:18px;
}

footer {
    bottom: 0px;
}